* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F2F3;
    font-family: 'Source Sans Pro', sans-serif;
    /*color: #ffffff;*/

}

.main {
    padding: 1rem;
}

#logo {
    width: 10%;
    height: 10%;
    display: inline;
}

#title {
    display: inline;
}

#quiz-container {
    height: 85vh;
}

#question-progress {
    text-align: right;
}

#questions-box {
    height: 25%;
    margin-bottom: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/images/henry-celebration.jpg) no-repeat center center/cover;
    color: #ffffff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#answers-box {
    text-align: left;
}

.answer-option {
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: block;
    border: solid;
    border-radius: 0.5rem;
}

.answer-option input {
    vertical-align: middle;
}

#league-table-container {
    /* display: none;*/
}

.popup-header {
    border-top: #DC0001 solid;
    background-color: #172030;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

#league-table {
    width: 100%;
    border-spacing: 0;
    background-color: #ffffff;
    border-collapse: collapse;
}

#league-table thead {
    border-bottom: #F1F2F3 solid;
}

.league-table-mid-col {
    border-right: #F1F2F3 solid;
    border-left: #F1F2F3 solid;
}

#rules-container {
    /*display: none;*/
}