* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F2F3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.main {
    padding: 0.5rem 1rem;
    background-color: #F1F2F3;
}

/*Heading and main buttons*/

h1,
h2 {
    text-transform: uppercase;
}

#heading {
    background: #ef0001;
    color: #ffffff;
    padding: 1rem;
}

.controls {
    text-align: center;
}

.controls button {
    display: inline-block;
    background: #172030;
}

#kick-off {
    width: 25%;
}

#rules {
    width: 25%;
}

.leaderboard {
    width: 35%;
}

.btn {
    background-color: #ef0001;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 100%;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    text-decoration: underline #ffffff;
    text-decoration-thickness: 2px;
}

.home-btn {
    width: 25%;
}

.back-btn {
    width: 100%;
    font-size: large;
}

#restart {
    width: 25%;
}

.about {
    text-transform: capitalize;
}

#logo {
    width: 10%;
    height: 10%;
    display: inline;
    vertical-align: middle;
}

#title {
    display: inline;
    vertical-align: middle;
}

/*Modal styles*/
.popup-header {
    border-top: #ef0001 solid;
    background-color: #172030;
    color: #ffffff;
    padding: 0.5rem;
}

.popup-content {
    background: #ffffff;
    border-top: #ef0001 solid;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.popup-footer {
    background-color: #ef0001;
    border-top: #172030 solid;
    padding: 0.5rem;
    text-align: center;
}

/*Main Quiz Section*/
#quiz-container {
    height: 85vh;
    display: none;
}

#question-progress {
    text-align: right;
}

#questions-box {
    height: 25%;
    margin-bottom: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/images/henry-celebration.jpg) no-repeat center center/cover;
    color: #ffffff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 175%;
}

#answers-box {
    text-align: left;
}

.answer-option {
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: block;
    border: solid;
    border-radius: 0.5rem;
    cursor: pointer;
}

.correct-ans {
    background-color: green;
    transition: 0.8s;
}

.incorrect-ans {
    background-color: #ef0001;
    transition: 0.8s;
}

#a {
    width: 100%;
}

#b {
    width: 100%;
}

#c {
    width: 100%;
}

#d {
    width: 100%;
}

.answer-option input {
    vertical-align: middle;
}

/*League Table Section*/
#league-table-section {
    position: absolute;
    z-index: 1;
    overflow: auto;
    width: 100%;
    left: 0;
    top: 4rem;
    display: none;
}

#league-table-container {
    border: #172030 solid;
}

#league-table {
    width: 100%;
    border-spacing: 0;
    background-color: #ffffff;
    border-collapse: collapse;
    font-size: large;
}

#league-table thead {
    border-bottom: #F1F2F3 solid;
}

.league-table-mid-col {
    border-right: #F1F2F3 solid;
    border-left: #F1F2F3 solid;
}

td {
    text-align: center;
}

/*Rules Section*/
#rules-section {
    position: absolute;
    z-index: 1;
    overflow: auto;
    width: 100%;
    left: 0;
    top: 4rem;
    display: none;
}

#rules-container {
    border: #172030 solid;
}

.popup-content li {
    list-style: inside;
    padding-left: 1.5rem;
    text-indent: -1.3rem;
}

/*Results Section*/
#results-container {
    border: #172030 solid;
}

#results-box {
    margin-bottom: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/images/henry-celebration.jpg) no-repeat center center/cover;
    color: #ffffff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 150%;
    height: 40vh;
    padding-top: 1rem;
}

#results-section {
    position: absolute;
    z-index: 1;
    overflow: auto;
    width: 100%;
    left: 0;
    top: 4rem;
    display: none;
}

#name-entry {
    width: 100%;
    display: block;
    text-align: center;
    border: #172030 solid;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

#name-entry-label {
    padding: 0.5rem, 0;
    margin-top: 0.5rem;
}

#save-btn {
    width: 100%;
    display: block;
    font-size: large;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}